//Basketball Page for Mobile

.hero-basketball {
  &__container {
    padding: 1rem 1rem 1.25rem;
    background: linear-gradient(($black-gradient), ($black-gradient)),
      url(.././assets/images/bballnight.jpg);
    width: 100%;
    height: 55vh;
    // height: 580px;
    // max-height: 580px;
    background-repeat: no-repeat;
    // background-position: center;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slogan {
    @include logo(45px, 2rem);
    border-bottom: solid 10px $orange;
    border-radius: 10px;
    padding-bottom: 40px;
    color: $black;
  }

  &__description {
    @include paragraph(1.75rem, 2.5rem);
    padding-top: 10px;
    color: $alabaster;
    text-align: center;
    max-width: 400px;
  }
}

label {
  @include paragraph(1rem, 1.375rem);
  color: $black;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
  @include paragraph(0.813rem, 1.125rem);
}

.basketball {
  padding: 2rem 1rem 0;
  &__tablet {
    display: none;
  }
  &__shrink {
    overflow: hidden;
    display: 2 vertical;
    color: $black;
  }

  &__title {
    @include header(1.75rem, 1.375rem);
    padding-bottom: 1rem;
  }

  &__game {
    text-decoration: none;
    @include subheader(0.875rem, 1.375rem);
    padding-bottom: 1rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid $mercury;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }
  &__game-margin,
  &__options {
    margin-top: 1.5rem;
  }
  &__options {
    padding-right: 0.25rem;
    margin-top: 220px;
    height: 0;
  }

  &__remove {
    width: 156px;
    padding: 15px;
    right: 20px;
    position: absolute;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 4px;
    @include paragraph(0.813rem, 1.125rem);
  }
}

//Basketball Page for Tablet

@include tablet {
  .hero-basketball {
    &__container {
      padding: 0 1.5rem;
      padding-top: 4rem;
    }
  }

  &__slogan {
    @include logo(50px, 2rem);
  }

  &__description {
    @include paragraph(2rem, 2.5rem);
  }

  p,
  label {
    margin: unset;
    @include paragraph(0.9rem, 1.5rem);
  }

  .basketball {
    padding: 3rem 1.5rem;

    &__mobile {
      display: none;
    }

    &__game {
      padding-bottom: unset;
    }
    &__container {
      height: auto;
      padding: 1.5rem 0;
      align-items: center;
    }

    &__tablet {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      &-right {
        width: 8.8rem;
        // width: 8.5rem;
      }
      &-item {
        width: 12.1875rem;
      }
      &-game {
        display: flex;
        flex-direction: column;
        width: 12.1875rem;
      }
      &-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &__flex {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    &__top-flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
    &__title {
      @include header(2.25rem, 2.75rem);
      padding-bottom: unset;
    }
    &__options {
      padding-bottom: 1rem;
      margin-top: 0;
    }
  }
  .arrow {
    width: 7.5rem;
  }
}

//Basketball Page for Desktop

@include desktop {
  .hero-basketball {
    &__container {
      padding: 0 11.25rem;
      padding-top: 2rem;
    }
  }

  .basketball {
    padding: 2.5rem 11.25rem;
    &__title {
      padding-top: 0.5rem;
    }

    &__container {
      height: auto;
    }
    &__shrink {
      line-clamp: 1;
    }
    &__tablet {
      &-game {
        width: 17.75rem;
      }
      &-right {
        width: 10.5625rem;
      }
    }
    &__remove {
      right: 180px;
    }
  }
  .arrow {
    width: 10.063rem;
  }
}
