//Colors

$black: black;
$white: #ffffff;
$orange: rgba(240, 160, 13, 0.959);
$black-gradient: rgba(14, 13, 13, 0.5);
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$black-50-opacity: rgba($black, 0.5);
