//Comments Section for Mobile

.comments {
  padding: 0.7rem 1rem 1.5rem;
  max-width: 520px;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  &__title {
    @include header(1.5rem, 1rem);
    color: $black;
  }
}

.comments-form {
  border-bottom: 0.063rem solid $mercury;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;

  &__row-one {
    display: flex;
    flex-direction: row;
  }

  &__profile {
    height: 2.813rem;
    width: 2.813rem;
    margin-top: 0rem;
  }

  &__input-details {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
  }

  &__input-title {
    @include subheader(0.7rem, 1.563rem);
    color: $silver;
  }

  &__content {
    @include paragraph(0.8rem, 1.563rem);
    border: 0.078rem solid $silver;
    border-radius: 0.25rem;
    height: 6rem;
    padding: 0.625rem 0 0 0.625rem;
    font-weight: bold;
    color: $black;
    background-color: $alabaster;
    width: 12.5rem;

    &:focus {
      border-color: $orange;
      box-shadow: none;
      outline: 0;
    }
  }

  &__submit {
    @include subheader(0.875rem, 1.375rem);
    height: 48px;
    width: 100%;
    max-width: 270px;
    background-color: $orange;
    color: $white;
    border: none;
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      cursor: pointer;
      outline-width: 0;
    }
  }
}

//Comments Section for Tablet

@include tablet {
  .comments {
    padding: 0 2rem;
    max-width: 768px;
    margin: 0 auto;

    &__title {
      @include subheader(1.75rem, 1.563rem);
    }

    &__profile {
      height: 3.75rem;
      width: 3.75rem;
    }
  }

  .comments-form {
    margin: 0 auto;
    display: flex;
    align-items: center;

    &__content {
      @include paragraph(0.85rem, 1.563rem);
      border: 0.063rem solid $silver;
      height: 125px;
      width: 275px;
      padding: 0.313rem 0 0.313rem 0.625rem;
    }

    &__submit {
      max-width: 340px;
    }
  }
}

//Comments Section for Desktop

@include desktop {
  .comments {
    padding: 0;
    padding-left: 11.55rem;
    max-width: 1460px;
  }

  .comments-form {
    &__content {
      height: 150px;
      width: 300px;
    }

    &__submit {
      max-width: 370px;
    }
  }
}
