//Create New Section for Mobile
label {
  @include paragraph(1rem, 1.375rem);
  color: $silver;
  font-weight: bold;
}
.new {
  margin-bottom: 120px;
  min-width: 15.75rem;
  background-color: $white;
  padding: 1rem 1rem 0;
  &__title {
    @include subheader(1rem, 1.375rem);
    padding-bottom: 2rem;
  }
  &__form {
    &-input {
      width: 100%;
      height: 3rem;
      background-color: $alabaster;
      border-radius: 0.25rem;
      border: 1.5px solid $mercury;
      padding: 0.625rem;
      @include paragraph(0.8rem, 1.375rem);
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      resize: none;
    }
    &-description {
      width: 100%;
      height: 80px;
      background-color: $alabaster;
      border-radius: 0.25rem;
      border: 1.5px solid $mercury;
      padding: 0.625rem;
      padding-bottom: 3rem;
      @include paragraph(0.8rem, 1.375rem);
      margin-bottom: 2rem;
      resize: none;
    }
    &-input:focus,
    &-description:focus {
      border: 1.5px solid $orange;
      outline-width: 0;
    }
    &-switch {
      &-flex {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
        align-items: center;
      }
      &-stock {
        color: $black;
      }
    }
  }
}
.button {
  &__save,
  &__cancel {
    @include subheader(0.875rem, 1.375rem);
    height: 48px;
    width: 100%;
    background-color: $orange;
    color: $white;
    border: none;
    border-radius: 0.25rem;
  }
  &__cancel {
    background-color: $white;
    color: $orange;
  }
  &__save:focus,
  &__cancel:focus {
    outline-width: 0;
  }
}

//Create New Section for Tablet and Desktop
@include tablet {
  .new {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 400px;
    max-width: 36rem;
    height: 39rem;
    padding: 1rem 3rem 2.5rem;
    &__title {
      @include header(2.25rem, 2.75rem);
      padding-bottom: 3rem;
    }
    &__form {
      display: flex;
      flex-wrap: wrap;
      &-flex {
        display: flex;
        flex-direction: column;
      }
      &-input {
        width: 13.75rem;
      }
      &-description {
        width: 30rem;
      }
    }
  }
  .button {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      margin-left: auto;
    }
    &__save {
      width: 10rem;
    }
    &__cancel {
      width: 3.75rem;
      margin-right: 3rem;
    }
  }
  .margin {
    margin-left: 2.5rem;
    width: 220px;
  }
}
