//Soccer, Basketball, and Street-Hockey Detail Section for Mobile
.game {
  margin: 240px 1rem 120px;

  &__container {
    width: 100%;
    margin: auto;
  }

  &__label-page {
    @include header(1.75rem, auto);
    margin-bottom: 24px;
  }

  &__mobile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: rgb(38, 122, 38);
    border-radius: 4px;
  }

  &__status-text {
    color: $white;
    @include paragraph(0.813rem, 1.125rem);
    margin-bottom: 0;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  &__kebab {
    margin-left: 1rem;
  }

  &__remove {
    width: 90px;
    padding: 10px;
    margin-top: 25px;
    right: 40px;
    position: absolute;
    background-color: $alabaster;
    border: 1px solid $mercury;
    border-radius: 4px;
    @include paragraph(0.813rem, 1.125rem);
  }

  &__hr {
    visibility: hidden;
  }

  &__label-description {
    @include paragraph(1rem, 1.375rem);
    color: $silver;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__event-description {
    width: 90%;
  }

  &__label-date {
    @extend .game__label-description;
  }

  &__label-time {
    @extend .game__label-description;
  }

  &__label-location {
    @extend .game__label-description;
  }

  &__label-address {
    @extend .game__label-description;
  }

  &__address {
    @extend .game__event-description;
  }

  &__label-city {
    @extend .game__label-description;
  }

  &__label-organizer {
    @extend .game__label-description;
  }

  &__label-contact {
    @extend .game__label-description;
  }

  &__label-email {
    @extend .game__label-description;
  }

  p {
    @include paragraph(0.9rem, 1.125rem);
  }

  &__edit-btn {
    width: 288px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid $black;
    background-color: $orange;
    color: $black;
    @include paragraph(1rem, 1.125rem);
  }

  &__messages {
    display: flex;
    flex-direction: column;
    margin-top: -125px;
    max-width: 520px;
    border-bottom: 0.063rem solid $mercury;
    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--name {
      @include header(1.2rem, 0.5rem);
      color: $black;
      font-weight: bolder;
    }
    &--time {
      @include paragraph(0.7rem, 0.625rem);
      color: $silver;
      padding-top: 5px;
    }
    &--new {
      color: $black;
      @include paragraph(0.85rem, 18px);
      padding-bottom: 1.563rem;
    }
  }
}

//Soccer, Basketball, and Street-Hockey Detail Section for Tablet
@include tablet {
  .game {
    &__container {
      width: 720px;
    }

    &__status {
      margin-top: 25px;
    }

    &__header {
      display: flex;
    }

    &__label-page {
      margin-right: 24px;
      @include header(1.9rem, auto);
    }

    &__icons {
      margin-top: 18px;
      margin-left: 470px;
    }

    &__hr {
      visibility: visible;
    }

    &__btn-container {
      display: flex;
      justify-content: flex-end;
    }

    &__edit-btn {
      margin-top: 40px;
      width: 288px;
    }

    &__info-details {
      display: grid;
      grid-template-columns: 360px 360px;
    }

    &__label-value-container {
      margin-right: auto;
    }
    &__messages {
      margin-top: 10px;
      margin: 0 auto;
      &--name {
        @include header(1.4rem, 0.5rem);
      }
      &--time {
        @include paragraph(0.9rem, 0.625rem);
        padding-top: 25px;
      }
      &--new {
        color: $black;
        @include paragraph(1rem, 18px);
        padding-bottom: 1.7rem;
      }
    }
  }
}

//Soccer, Basketball, and Street-Hockey Detail Section for Desktop
@include desktop {
  .game {
    &__container {
      width: 1080px;
    }
    &__icons {
      // margin-top: 18px;
      margin-left: 825px;
    }
    &__remove {
      right: 200px;
    }

    &__description-details-container {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    &__messages {
      padding: 0.5rem 0;
      &--new {
        padding-bottom: 1.9rem;
      }
    }
  }
}
