//Soccer Page for Mobile

.hero-soccer {
  &__container {
    padding: 1rem 1rem 1.25rem;
    background: linear-gradient(($black-gradient), ($black-gradient)),
      url(.././assets/images/soccershot.jpg);
    width: 100%;
    height: 55vh;
    // height: 580px;
    // max-height: 580px;
    background-repeat: no-repeat;
    // background-position: center;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slogan {
    @include logo(45px, 2rem);
    border-bottom: solid 10px $orange;
    border-radius: 10px;
    padding-bottom: 40px;
    color: $black;
  }

  &__description {
    @include paragraph(1.75rem, 2.5rem);
    padding-top: 10px;
    color: $alabaster;
    text-align: center;
    max-width: 400px;
  }
}

label {
  @include paragraph(1rem, 1.375rem);
  color: $black;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
  @include paragraph(0.813rem, 1.125rem);
}

.soccer {
  padding: 2rem 1rem 0;
  background-color: $mercury;
  &__tablet {
    display: none;
  }
  &__shrink {
    overflow: hidden;
    display: 2 vertical;
  }

  &__title {
    @include header(1.75rem, 1.375rem);
    padding-bottom: 1rem;
  }
  &__product {
    text-decoration: none;
    @include subheader(0.875rem, 1.375rem);
    padding-bottom: 1rem;
  }
  &__container {
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid $black;
  }
  &__product-name {
    color: $black;
    font-weight: bold;
    @include subheader(1rem, 1.375rem);
    cursor: pointer;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }
  &__product-margin,
  &__options {
    margin-top: 1.5rem;
  }
  &__options {
    padding-right: 0.25rem;
    height: 0;
  }

  &__arrow {
    // display: flex;
    // flex-direction: row;
    padding-left: 175px;
    padding-top: 80px;
    // padding-bottom: 100px;
    // max-width: 800px;
  }

  //   &__remove {
  //     width: 156px;
  //     padding: 15px;
  //     right: 20px;
  //     position: absolute;
  //     background-color: $alabaster;
  //     border: 1px solid $mercury;
  //     border-radius: 4px;
  //     @include paragraph(0.813rem, 1.125rem);
  //   }
}

//Soccer Page for Tablet

@include tablet {
  .hero-soccer {
    &__container {
      padding: 0 1.5rem;
      padding-top: 4rem;
    }
  }

  &__slogan {
    @include logo(50px, 2rem);
  }

  &__description {
    @include paragraph(2rem, 2.5rem);
    // padding-top: 45px;
    // color: $alabaster;
    // text-align: center;
    // max-width: 350px;
  }

  p,
  label {
    margin: unset;
    @include paragraph(0.9rem, 1.5rem);
  }

  .soccer {
    padding: 3rem 1.5rem;

    &__mobile {
      display: none;
    }
    &__search {
      margin-top: 1.5rem;
    }

    &__product {
      padding-bottom: unset;
    }
    &__container {
      height: auto;
      padding: 1.5rem 0;
      align-items: center;
    }
    &__product-name {
      color: black;
      font-weight: bold;
      @include subheader(1.2rem, 1.375rem);
      padding-bottom: 10px;
    }

    &__tablet {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      &-item {
        width: 8rem;
      }
      &-item {
        width: 12.1875rem;
      }
      &-product {
        display: flex;
        flex-direction: column;
        width: 12.1875rem;
      }
      &-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &__flex {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    &__top-flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
    &__title {
      @include header(2.25rem, 2.75rem);
      padding-bottom: unset;
    }
    &__options {
      padding-bottom: 2.75rem;
    }

    &__arrow {
      display: none;
    }
  }
}

//Soccer Page for Desktop

@include desktop {
  .hero-soccer {
    &__container {
      padding: 0 11.25rem;
      padding-top: 2rem;
    }
  }

  .soccer {
    padding: 2.5rem 11.25rem;
    &__title {
      padding-top: 0.5rem;
    }
    &__container {
      height: auto;
    }
    &__shrink {
      line-clamp: 1;
    }
    &__tablet {
      &-product {
        width: 17.75rem;
      }
      &-item {
        width: 10.5625rem;
      }
    }
    &__remove {
      right: 180px;
    }
  }
}
