//Fonts

@font-face {
  font-family: Roboto Regular;
  src: url(../assets/fonts/Roboto/Regular.ttf);
}

@font-face {
  font-family: Roboto Medium;
  src: url(../assets/fonts/Roboto/Medium.ttf);
}

@font-face {
  font-family: Roboto Bold;
  src: url(../assets/fonts/Roboto/Bold.ttf);
}

@font-face {
  font-family: Metal Mania Regular;
  src: url(../assets/fonts/MetalMania/Regular.ttf);
}

//Mixins for Headers, Subheaders, and Paragraphs

@mixin logo($font-size, $line-height) {
  font-family: Metal Mania Regular;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin header($font-size, $line-height) {
  font-family: Roboto Bold;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin subheader($font-size, $line-height) {
  font-family: Roboto Medium;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin paragraph($font-size, $line-height) {
  font-family: Roboto Regular;
  font-size: $font-size;
  line-height: $line-height;
}
